{% block side_bar %}
<aside class="main-sidebar">
    <section class="sidebar">
        <ul class="sidebar-menu" data-widget="tree">
            <li {% if app.request.attributes.get('_route') == 'dashboard' %}class="active"{% endif %}>
                <a href="{{ path('dashboard') }}"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a>
            </li>
            <li {% if app.request.attributes.get('_route') == 'balance' %}class="active"{% endif %}>
                <a href="#"><i class="fa fa-money"></i> <span>Balances</span></a>
            </li>
            <li {% if app.request.attributes.get('_route') == 'ticker' %}class="active"{% endif %}>
                <a href="#"><i class="fa fa-line-chart"></i> <span>Ticker</span></a>
            </li>
            <li {% if app.request.attributes.get('_route') == 'trade' %}class="active"{% endif %}>
                <a href="#"><i class="fa fa-bank"></i> <span>Trades</span></a>
            </li>
        </ul>
    </section>
</aside>
{% endblock %}