parameters:
    database_host: 127.0.0.1
    database_port: 5432
    database_name: arbitrage_trading_bot
    database_user: postgres
    database_password: secret
    database_driver: pdo_pgsql
    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: ~
    mailer_password: ~
    secret: c27106760f38f188b64cb1935caa2295ba7ab639
