{% extends '@App/base.html.twig' %}

{% block page_title %}Dashboard{% endblock %}
{% block page_description %}Bitcoin Trading Bot management console{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ asset('build/css/dashboard.min.css') }}">
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">

        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
    </script>
    <script src="{{ asset('build/js/dashboard.min.js') }}"></script>
{% endblock %}