{% for ticker in tickers %}
    <tr>

        <td style="border-right: 1px solid grey;">{{ ticker.name | capitalize }}</td>
        <td>
            {{ ticker.ask | number_format(2, '.', ',') }}
        </td>
        <td>
            {{ ticker.bid | number_format(2, '.', ',') }}
        </td>
    </tr>
{% endfor %}
